@import url('https://fonts.googleapis.com/css2?family=Antic&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme {
  --font-base: 'Antic', 'Roboto Mono', monospace;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
