@import url("https://fonts.googleapis.com/css2?family=Antic&family=Inconsolata:wght@200..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

@theme {
  --font-base: "Inconsolata", "Antic", "Roboto Mono", monospace;
  --animate-popup: pop 0.3s ease-in-out;
  @keyframes pop {
    0% {
      transform: translateY(50px) scale(0.65);
    }
    100% {
      transform: translateY(0) scale(1);
    }
  }
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
